.widefat {
  width: 100%;
  margin: 0;
  clear: both;
  border-spacing: 0;
}

.woocommerce-checkout #payment ul.payment_methods li img {
  height: 25px;
  width: auto;
}

.woocommerce-checkout #payment ul.payment_methods li img.bkash-qr-code-image,
.woocommerce-checkout #payment ul.payment_methods li img.rocket-qr-code-image,
.woocommerce-checkout #payment ul.payment_methods li img.nagad-qr-code-image {
  height: 300px !important;
  width: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
